
<% provide(:title, "Home") %> <!DOCTYPE html>
<html>
<head>
   </head>
   <body>
     <h1>Lunch Generation</h1>
     <p>
       This was made to make lunch easier.
       <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
       sample application.
</p> </body>
</html>
