<div class="centre jumbotron">
  <h1>Rate and explore new places to eat</h1>

  <center><br><%= link_to image_tag("rails.png", alt: "Logo", size: "160x160", class: "mx-auto d-block", :alt => "logo")%></br></center>
  <br><center>
  <h2> Want to explore lunch places?</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
