<div class="centre jumbotron">
  <h1>Rate and explore new place to eat</h1>

  <h2> Want to explore lunch places?</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
  "http://rubyonrails.org"%>
